/cookie-cutter/data/interim
/cookie-cutter/data/raw
/cookie-cutter/docs/
/cookie-cutter/models/
/cookie-cutter/notebooks/
/cookie-cutter/references/
/cookie-cutter/tox.ini/
/cookie-cutter/src/models
/cookie-cutter/src/sandbox
